
<div class="jumbotron" style="background-color:rgba(237, 222, 222, 0.35); z-index:9000;">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <h1>Event Watcher<i class='glyphicon glyphicon-eye-open' style='width:100px; margin-left: 50px'></i> </h1>
            </div>
            <div class="col-lg-4 col-md-4">
                <label>Chose event type and create new event:</label>
                @Html.DropDownList("event_type", (SelectList)ViewBag.EventsTypeList, "--Select--", new { @class = "form-control", @id = "eventTypeIdDDL" })
                <div style="width: 100%; padding:10px" class="vertical-align" >
                    <button class="btn btn-info" style="margin:auto; width: 30%; " onclick="setEventTypeValue(document.getElementById('eventTypeIdDDL').value)"><i class='glyphicon glyphicon-plus-sign'></i></button>
                </div>
                
            </div>
        </div>
        
        
        @{Html.RenderPartial("_DeleteRecordPartial");}
    </div>
    <div class="row">
        <div class="col-12">
            <div>
                <table id="boxesGrid" class="responsive no-wrap table-striped table-hover table" width="100%" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>Event ID</th>
                            <th>Lp.</th>
                            <th>Event Type</th>
                            <th>Location </th>
                            <th>Date</th>
                            <th>Price[$]</th>
                            <th>Descryption</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Add Event</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="addFormConteiner">

                </div>
                
               
             </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-danger" onclick="AddNewEvent();">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="eventDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Event details</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="detailsConteiner">

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                @*<button type="button" class="btn btn-primary btn-danger" onclick="AddNewEvent();">Add</button>*@
            </div>
        </div>
    </div>
</div>

<script>
    var eventId;
    var table;
    $(document).ready(function () {
        table = $("#boxesGrid").DataTable({

            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 10,

            "responsive": true,
            "ajax": {
                "url": "/Home/GetBoxesList",
                "type": "POST",
                "datatype": "json"
            },

            "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [1],
                    "searchable": false,
                    "orderable": false
                },

                {
                    "targets": [7],
                    "searchable": false,
                    "orderable": false
                }],

            "oLanguage": {

                "sSearch": "Enter event location:",
                "sLengthMenu": "Display _MENU_ records on page",
                "sZeroRecords": "Przepraszamy - nie znaleziono żadnego rekordu",
                "sInfo": "Showing page _PAGE_ from _PAGES_",
                "sInfoEmpty": "Nie ma dostępnych rekordów",
                "sInfoFiltered": "(przefiltrowano z _MAX_ rekordów)",
                "oPaginate": {
                    "sNext": "Next page",
                    "sPrevious": "Previous page"
                }

            },



            "aoColumns": [
                { "mData": "EventId", "name": "EventId", "autoWidth": false, },
                {
                    "render": function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                { "mData": "EventType", "name": "EventType", "autoWidth": false },
                { "mData": "Location", "name": "Location", "autoWidth": false },
                { "mData": "ShowingDay", "name": "ShowingDay", "autoWidth": false },
                { "mData": "ShowingPrice", "name": "ShowingPrice", "autoWidth": false },
                {
                    "render": function (data, type, full, meta) {
                        return "<a class='btn btn-danger' data-toggle='tooltip' data-placement='bottom' title='Show Details' href='#' onclick='ShowDetails(" + full.EventId + ")'><i class='glyphicon glyphicon-list-alt' style='width:30px'></i></a > ";
                    }
                },
                {
                    "render": function (data, type, full, meta) {

                        return "<div class='btn-group'>" +
                            "<a class='btn btn-danger' data-toggle='tooltip' data-placement='bottom' title='Delete event' href='#' onclick='ShowDeleteModal(" + full.EventId + ")'><i class='glyphicon glyphicon-trash' style='width:30px'></i></a > " +
                            "<a class='btn btn-info' data-toggle='tooltip' data-placement='bottom' title='Edit event' href='#' style='margin-left: 10px; margin-right: 10px;'><i class='glyphicon glyphicon-pencil' style='width: 30px'> </i></a>" +
                            "</div>";
                    }
                },


            ],
            "initComplete": function (settings, json) {
                var info = this.api().page.info();
                var rowCount = info.recordsTotal;
                if (rowCount <= 10) {

                    $('.dataTables_paginate').hide();
                } else {

                    $('.dataTables_paginate').show();
                }

            }
        });

        $('#boxesGrid').on('draw.dt', function () {
            $('[data-toggle="tooltip"]').tooltip();
        });



    });

    function AddNewEvent() {

       

        var contentModel = 'application/x-www-form-urlencoded; charset=utf-8';
        //var formData = $("#eventAddForm").serialize();

        var jsonText = JSON.stringify($('#eventAddForm').serializeObject());
        //var dat = getFormData(formData);
        
        $.ajax(
            {
                async: true,
                url: '/Home/AddEvent',
                type: "POST",
                data: { token: jsonText},
                contentType: contentModel,
                dataType: 'json'

            }

        ).done(function (resp) {

            console.log(resp);

            if (resp.result === "true") {
                $('#addEventModal').modal('hide');
                table.ajax.reload();
            } else {
                $('#addEventModal').modal('hide');
                alert("Operation ERROR");
            }

        }).fail(function (resp) {
            console.log(resp);
        });

    }


    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };


    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
            console.log(n['value']);
        });

        return indexed_array;
    }
    function ShowDeleteModal(id) {

        $('#deleteModal').modal("show");
        console.log(id);
        eventId = id;



       
    }

    function ShowDetails(id) {

        displayDetailsModal(id);

    }

    function setEventTypeValue(id) {

        var contentModel = 'application/x-www-form-urlencoded; charset=utf-8';
       
       
        $.ajax(
            {
                async: true,
                url: '/Home/DisplayAddModal',
                type: "POST",
                data: {
                    eventTypeID:id
                },
                contentType: contentModel,
                dataType: 'html'

            }

        ).done(function (resp) {

            $('#addFormConteiner').html(resp);
            
            $('#addEventModal').modal('show');
           // document.getElementById('eventTypeId').value = document.getElementById('eventTypeIdDDL').value;
        }).fail(function (resp) {
            console.log(resp);
        });

    }

    function displayDetailsModal(id) {

        var contentModel = 'application/x-www-form-urlencoded; charset=utf-8';


        $.ajax(
            {
                async: true,
                url: '/Home/DisplayDetailsModal',
                type: "POST",
                data: {
                    eventID: id
                },
                contentType: contentModel,
                dataType: 'html'

            }

        ).done(function (resp) {

            $('#detailsConteiner').html(resp);

            $('#eventDetailsModal').modal('show');

        }).fail(function (resp) {
            console.log(resp);
        });

    }


    function DeleteData() {


        var contentModel = 'application/x-www-form-urlencoded; charset=utf-8';

        console.log(eventId);
        $.ajax(
            {
                async: true,
                url: '/Home/DeleteEvent' ,
                type: "POST",
                data: {
                    eventIdValue : eventId
                },
                contentType: contentModel,
                dataType: 'json'

            }

        ).done(function (msg) {
            console.log(msg.msg);
            if (msg.msg === "true") {
                table.ajax.reload();
                $('#deleteModal').modal('hide');
            } else {
                $('#deleteModal').modal('hide'); 
                alert("Delete Event ERROR");
            }
           

        }).fail(function (msg) {
            $('#deleteModal').modal('hide');
        });
    }

</script>
