@model List<String>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
@{
    if (Model != null)
    {
        <table>
            <tr>
                <td>
                    <label><b>Name</b></label>
                </td>
                <td>
                    <label>Value</label>
                </td>
            </tr>
            @{
                foreach (var arg in Model)
                {
                    string[] nameAndValue = arg.Split(':');
                    <tr>
                        <td>
                            <label><b>@nameAndValue[0] :</b></label>
                        </td>
                        <td>
                            @{
                                if (nameAndValue[0] == "Period")
                                {
                                    <label>@nameAndValue[1] min</label>
                                }
                                else
                                {
                                    <label>@nameAndValue[1]</label>
                                }
                            }

                        </td>
                    </tr>
                }
            }
        </table>


    }
}
